@font-face {
    font-family: Avenir;
    src: url(../font/Avenir.ttc);
}

.logo-container {
    margin-top: 43vh;
}

.chrometec-logo {
    max-width: 50%;
    height: auto;
}

.social-row {
    font-size: 1.6rem;
    padding-bottom: 1vh;
}

@media only screen and (min-device-width: 700px) {
    .chrometec-logo {
        max-width: 25%;
        height: auto;
    }

    .social-row {
        font-size: 1.4rem;
        padding-bottom: 1vh;
    }
}

.contact-container {
    font-family: Avenir;
    color: #aaa;
    font-size: 0.8rem;

    margin-bottom: 2vh;
}

a {
    color: #aaa;
    position: relative;
    transition: top ease 0.1s;
    top: 0vh;
}

a:hover {
    color: #444;
    top: -0.2vh;
}

body {
    background: #fff;
    text-align: center;
}